@font-face {
  font-family: Caros;
  src: url('../assets/caros-cufonfonts-webfont/cretype  Caros.woff');
}

@font-face {
  font-family: CarosLight;
  src: url('../assets/caros-cufonfonts-webfont/cretype  Caros Light.woff');
}


@font-face {
  font-family: CarosLighter;
  src: url('../assets/caros-cufonfonts-webfont/cretype\ \ Caros\ ExtraLight.woff');
}

:root {
  height: 100%;
  width: 100%;
  font-family: Caros;
  --primary-theme-color: #2f54f7;
  --primary-text-color: #fdfdfd;
  --dark-theme-color: #3d3faf;
  --nav-link-color: #070791;
  font-size: 62.5%;
}
body {
  -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-osx-font-smoothing: grayscale;
  font-size: 2.1rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
a, img {
  display: inline-block;
  color: whitesmoke;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
  box-shadow: 0 4px 12px -6px rgba(10,10,10,.5),0 5px 23px -13px rgba(233,233,233,.5);
  background-color: var(--primary-theme-color);
  position: relative;
}
.website-name {
  margin: 2rem 0 2rem 0;
  height: max-content;
  border-radius: 5px;
  color: rgb(216, 216, 33);
  padding: 0 5px;
  cursor: pointer;
  font-size: 2rem;
}
.website-link-a {
  color: whitesmoke;
  text-decoration: none;
}
.nav-options-container {
  display: flex;
  list-style-type: none;
  z-index: 33;
}
.nav-option {
  cursor: pointer;
  transition: 200ms ease;
  margin: 12px 0 12px 12px;
  text-align: center;
  color: whitesmoke;
  transition: 200ms ease;
  border: 2px solid transparent;
  border-radius: 5px;
  height: 3.5rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-option:hover {
  background-color: rgba(44, 61, 212, 0.6);
  border: 2px solid white;
}

.nav-option a {
  text-decoration: none;
  font-size: 1.7rem;
}

#nav-collapser {
  -webkit-appearance: none;
  width: 4rem;
  height: 3rem;
  border-radius: 5px;
  position: absolute;
  right: 25px;
  top: 2rem;
  display: none;
  outline: none;
  cursor: pointer;
  color: whitesmoke;
  transform-origin: right;
  perspective: 200px;
  transform-style: preserve-3d;
  border: 2px solid rgb(224, 221, 221);
  cursor: pointer;
}

.close-icon {
  display: none;
}

#nav-collapser:active {
  animation: anim1 500ms ease;
}
@keyframes anim1 {
  20% {
    transform: scaleY(0.7);
    animation-delay: 300ms;
  }
  100% {
    transform: scaleY(1);
    animation-delay: 400ms;
  }
}
#nav-collapser::before {
  content: "";
  position: absolute;
  top: .75rem;
  left: .5rem;
  transition: 250ms ease;
  height: 2px;
  width: 2.5rem;
  background-color: var(--primary-text-color);
  box-shadow: 0 .5rem 0 0 var(--primary-text-color),
              0 1rem 0 0 var(--primary-text-color);

}
#nav-collapser:active::before {
  color: white;
}

@media (max-width: 950px) and (min-width: 100px) {
  .nav-options-container {
    display: none;
  }
  #nav-collapser {
    display: inline-block;
    top: 2rem;
  }
  #nav-collapser:checked + .nav-options-container{
    background-color: var(--dark-theme-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
  }
  .close-icon {
    display: inline-block;
    color: whitesmoke;
    position: absolute;
    left: 50%;
    top: 26%;
    cursor: pointer;
  }
}
footer {
  width: 100%;
  position: relative;
  background-color: var(--primary-theme-color);
  color: #fff;
  padding: 2rem 0;
}
.follow-heading {
  text-align: center;
  font-size: 2rem !important;
  border-bottom: 1px solid #ececec;
  width: max-content;
  margin: 0 0 0 2.2rem;
}
.social-media-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  font-size: 3rem;
  color: lightgray;
  perspective-origin: top center;
  perspective: 200px;
}
.fa {
  margin:24px 0 7px 24px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: top;
}
.fa:hover {
  border-radius: 5px;
  color: rgba(255,255,255,.6);
}
.fa:active {
  animation: cubic-bezier(0.1,1,.2,1) bimb 500ms;
}
@keyframes bimb {
  0% {
    transform: skew(0, 4deg) rotate(-15deg) scale(0, .6);
  }
  100% {
    transform: skew(0, -4deg) rotate(15deg) scale(1);
  }
}

.hero-image {
  display: inline-block;
  width: 100%;
  height: 50vh;
  object-fit: contain;
}

.hero-content {
  font-size: 2rem;
  display: grid;
  place-items: center;
}

.hero-description-container {
  margin: 3rem 0;
}

main {
  padding: 0 3rem;
}

.main-list {
  margin: 0 3rem;
}

.main-list li {
  font-weight: bold;
}

.sub-list {
  margin-left: 2rem;
}

.sub-list li {
  font-weight: normal;
}

.under-mark {
  display: inline-block;
  position: relative;
  z-index: 0;
}

.under-mark::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 5px;
  width: 100%;
  background-color: #54e673;

}