div.app-page {
  background-color: limegreen;
  margin: 0;
  padding: 0;
  font-family: Lato;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1.main-heading {
  text-align: center;
  background-color: tomato;
}

.profile-card {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}

img.avatar {
  height: 150px;
}
